@media screen and (min-width: 1200px)
  $header-height = 300px
  $body-width = 1200px
  $nav-width = 380px

  body
    width $body-width

    header
      height $header-height

    main
      &::after
        display table
        content ''
        clear both

      nav
        width $nav-width
        float right

      article
        width $body-width - $nav-width - 20px

    footer
      clear both
