@media screen and (min-width: 1200px)
  $header-height = 300px
  $header-height-fixed = 3rem
  $body-width = 1200px
  $nav-width = 380px

  body
    width $body-width

    header
      height $header-height
      position relative
      transition all ease .3s

      &::before, &::after
        display block
        content ''
        position absolute
        top 0
        bottom 0
        opacity 0

      &.fixed-header
        position fixed
        bottom "calc(100% - %s - 6px)" % ($header-height-fixed)
        left 0
        right 0
        height $header-height-fixed
        margin 0
        z-index 2
        border-width 0 0 6px 0
        opacity .9

        &::before
          left calc(50% - 700px)
          right calc(50% + 600px)
          background linear-gradient(to left, rgba(33,33,33,0), rgba(33,33,33,1))

        &::after
          right calc(50% - 700px)
          left calc(50% + 600px)
          background linear-gradient(to right, rgba(33,33,33,0), rgba(33,33,33,1))

        .site-title
          left calc(50% - 600px + 20px)
          font-size 2rem
          line-height $header-height-fixed
          height $header-height-fixed

        &::before, &::after
          opacity 1

        &.scroll-margin
          transition height 0s, bottom 0s

        & + main
          margin-top $header-height + 20

      &.disable-height-animation
        transition height 0s, bottom 0s, margin-bottom ease .3s, margin-top ease .3s

    main
      &::after
        display table
        content ''
        clear both

      nav
        width $nav-width
        float right

      @import "contents.styl"

    footer
      clear both

  .profile
    margin 0