@media screen and (min-width: 1200px)
  $header-height = 300px
  $header-height-fixed = 100px
  $body-width = 1200px
  $nav-width = 380px

  body
    width $body-width

    header
      height $header-height
      background-image url(../image/logo.jpg)
      background-attachment fixed
      position relative
      transition all ease .3s

      h1
        font-size 6em
        color #fff
        font-weight bold
        padding-left 40px

      .profile
        position absolute
        bottom 0
        right 0
        padding 20px
        color #fff
        font-size 2em

      &.fixed-header
        position fixed
        bottom "calc(100% - %s)" % ($header-height-fixed)
        left 0
        right 0
        height $header-height-fixed
        margin 0
        z-index 2
        border-width 0 0 6px 0

        &.scroll-margin
          transition height 0s, bottom 0s

        & + main
          margin-top $header-height + 20

      &.disable-height-animation
        transition height 0s, bottom 0s, margin-bottom ease .3s, margin-top ease .3s

    main
      &::after
        display table
        content ''
        clear both

      nav
        width $nav-width
        float right

      article
        width $body-width - $nav-width - 20px

    footer
      clear both
