body
  margin 0 auto
  position relative

  header
    margin-top 20px
    margin-bottom 20px
    border-radius 3px
    box-sizing content-box
    border 6px solid #fff
    box-shadow 0 2px 12px rgba(0,0,0,.15)
    position relative
    background-image url(../image/logo.jpg)
    background-attachment fixed
    background-position 50% 0
    background-repeat no-repeat
    background-color rgba(33,33,33,1)
    
    &::before, &::after
      display block
      content ''
      position absolute
      top 0
      bottom 0
      opacity 0
    
    &::before
      left calc(50% - 700px)
      right calc(50% + 600px)
      background linear-gradient(to left, rgba(33,33,33,0), rgba(33,33,33,1))

    &::after
      right calc(50% - 700px)
      left calc(50% + 600px)
      background linear-gradient(to right, rgba(33,33,33,0), rgba(33,33,33,1))

    .site-title
      position absolute
      left 20px
      bottom 0
      font-size 3em
      color #fff
      font-weight bold

    #sidebar-toggle-button
      $sidebar-toggle-button-size = 36px
      display none
      height $sidebar-toggle-button-size
      width $sidebar-toggle-button-size
      line-height $sidebar-toggle-button-size
      text-align center
      border 1px solid #aaa
      border-radius ($sidebar-toggle-button-size / 2)
      background-color white
      opacity .3
      position absolute
      bottom 20px
      right 20px
      cursor pointer
      transition opacity .3s ease

      &:hover
        opacity .7

  main
    background-color #fff

    nav
      padding 20px
      background-color #fff
      transition all ease .3s

    @import "contents.styl"

  footer
    position relative
    margin-top 20px
    margin-bottom 20px
    padding-left 10px
    padding-right 10px
    background-color #fff
    font-size .9rem

    .sharethis-inline-share-buttons
      margin-bottom 10px

    table
      border none
      width 100%

    .copyright
      font-family: Times, Times New Roman, Georgia, serif;

    .about-page-generator
      text-align right


.profile
  $profile-size = 280px
  width $profile-size
  margin 0 auto

  .fa
    margin-right 10px
    width 24px
    text-align center
    color #666

  .picture
    max-width 100%
    border-radius ($profile-size / 2)
    border 1px solid transparent

    img
      max-width 100%
      border-radius ($profile-size / 2)
      border 6px solid rgba(255,255,255,.3)

  .name
    font-weight bold
    font-size 1.5em

  .social
    height 24px

    a
      display inline-block
      text-decoration none
      width 24px
      height 24px

      & + a
        margin-left 10px

      &:hover
        animation spinning linear .4s 1

  .summary, .location
    margin-top 15px
    white-space normal

  .profile-attribute
    font-size .95rem

  .summary
    font-size .9rem
    color #aaa

  .language
    .lang + .lang
      margin-left 15px

  .balloon
    max-width 360px

  table.biography thead td
    border-bottom 1px solid #ddd






.group-with-caption
  position relative
  margin-top 30px
  border-top 1px solid #ccc
  padding-top 30px

  .caption
    position absolute
    height 1.2rem
    line-height 1.2rem
    top -.6rem
    left 20px
    background-color #fff
    padding 0 10px




.headline
  .headline-item
    font-size .9rem

    .headline-title
      line-height 1.2rem
      height 1.2rem

    .headline-meta
      font-size .8rem
      color #b3b3b3

    .headline-readmore-wrap
      .headline-readmore
        float right
        padding 3px 10px
        border-radius 5px
        border 1px solid transparent
        opacity .7
        transition all .3s ease

        a
          text-decoration none

        &:hover
          border-color #ccc
          background-color #D6EAF8
          opacity .9

      &::after
        display table
        content ''
        clear both

    & + .headline-item
      margin-top 4px




