@media screen and (min-width 800px) and (max-width 1199px)
  $header-height = 300px
  $body-width = 800px
  $nav-width = 380px

  body
    width $body-width

    header
      height $header-height
      margin-bottom 20px
      background-image url(../image/logo.jpg)
      background-size cover

    main

      nav
        position fixed
        top 0
        right "calc(50% - %s / 2)" % ($body-width)
        width 0
        max-width 0
        max-height 100%
        overflow hidden
        padding 15px 0

        &.visible
          max-width $nav-width
          width $nav-width
          overflow scroll
          padding 15px

        &::after
          display block
          content ''
          height 15px

      article
        width $body-width

    footer
      // test
