@media screen and (min-width 800px) and (max-width 1199px)
  $header-height = 300px
  $header-height-fixed = 100px
  $body-width = 800px
  $nav-width = 380px

  body
    width $body-width

    header
      height $header-height
      margin-bottom 20px
      background-image url(../image/logo.jpg)
      background-attachment: fixed
      transition all ease .3s

      #sidebar-toggle-button
        display block

      &.fixed-header
        position fixed
        bottom "calc(100% - %s)" % ($header-height-fixed)
        left 0
        right 0
        height $header-height-fixed
        margin 0
        z-index 2
        border-width 0 0 6px 0

        &.scroll-margin
          transition height 0s, bottom 0s

        & + main
          margin-top $header-height + 20

          nav
            right 0

      &.disable-height-animation
        transition height 0s, bottom 0s, margin-bottom ease .3s, margin-top ease .3s

    main
      nav
        position fixed
        top 0
        right "calc(50% - %s / 2)" % ($body-width)
        width 0
        max-width 0
        max-height 100%
        overflow hidden
        padding 15px 0
        z-index 3
        white-space nowrap

        &.visible
          max-width $nav-width
          width $nav-width
          overflow scroll
          padding 15px
          box-shadow 0 2px 12px rgba(0,0,0,.15)
          border 1px solid rgba(33,33,33,.3)
          opacity .95

        &::after
          display block
          content ''
          height 15px

      article
        width $body-width

    footer
      // test
