@media screen and (max-width 799px)
  $nav-width = 380px

  body
    width 100%

    header
      position fixed
      top 0
      left 0
      right 0
      margin-top 0
      height 40px
      background-color #ccc
      opacity .9
      border-width 0 0 6px 0
      border-radius 0
      z-index 2

      .site-title
        font-size 24px
        height $h = 40px
        line-height $h

      #sidebar-toggle-button
        display block
        position fixed
        bottom 20px
        right 20px
        opacity .3
        background-color #ccc
        z-index 4

    main
      margin-top 70px

      nav
        position fixed
        top 0
        right $nav-width * -1
        bottom 0
        width $nav-width
        height 100%
        overflow scroll

        .profile
          .picture
            display none

        &.visible
          max-width 95%
          right 0
          box-shadow 0 2px 12px rgba(0,0,0,.15)
          border 1px solid rgba(33,33,33,.3)
          opacity .95
          z-index 3

      @import "contents.styl"

    footer
      width 100%

      .about-page-generator
        display none
