head
  meta(charset="utf-8")
  meta(name="viewport", content="initial-scale=1.0")
  title Hinaser
  script(src=webRoot+"/-/js/lib.js")
  link(href=webRoot+"/-/css/lib.css", rel="stylesheet")
  // uncache
  script(src=webRoot+"/-/js/main.js")
  // enduncache
  // uncache
  link(href=webRoot+"/-/css/main.css", rel="stylesheet")
  // enduncache
