block path
  - var relativePathToResourceRoot = "./-"

block variable
  -
    var title = "Hinaser"
    var lang = "en"

-
  function url(path){
    if(relativePathToResourceRoot.slice(-1) !== "/" && path[0] !== "/"){
      return relativePathToResourceRoot + "/" + path;
    }
    return relativePathToResourceRoot + path;
  }

doctype html
html(lang=lang)
  include _head
  include _body
