extends _layout

block path
  - var relativePathToResourceRoot = "../../-"

block variable
  -
    var lang = "en"

    article.id = "home"
    article.description = "The first created page"
    article.keywords = "hinaser,hinase,hinaser.github.io"
    article.title = "Profile"
    article.topic = "Daily Life"
    article.subtopic = "Profile"
    article.create_dtime = "2017-10-30T22:46:51.376+0900"

block article
  .article-header
  hr
  .article-contents
    p.
      Hello, I'm Hinase. I live in Tokyo and work as Data engineer,
      developing data services for customers in financial industry.

    p.
      I like coffee, MLB, programming, PC game. I used to go climbing and cycling past days.

    h6 Biography
    p.
      I was born in 1985 in Yokohama, Japan. In 1989, I moved to Paris
      to accompany with my father's study. My father studied French literature.#[br]
      In 1991 I returned to Tokyo, Japan. I enjoyed my life in my town, Kunitachi until
      I graduated from my high school in the town.#[br]
      Kunitachi is well known for beutiful road with lined sakura tree. I love the town
      especially in spring.

    p.
      I went to Tokyo Institute of Technology and studied science. After I was granted
      Bachelor of Science and graduated the university I got a job in American IT company
      located in Tokyo. As a application engineer, I joined several IT projects for customers in
      communication and media industry.#[br]
      After 7 years service for the company, I changed job to an automobile component
      manufacturing company as an IT specialist.#[br]
      Now I am a data engineer in a media company, who sells and develop financial data
      to customers mainly in financial industry.

    h6 Favorites
    p.
      MLB, PC game, programming, etc. I love MLB since I was in junior high school.
      I often go to U.S for private MLB tour. For the tour, I have visited to Baltimore,
      NewYork(Queens), Philadelphia, Los Angels(Anaheim, Downtown), San Diego,
      San Fransico, Oakland. I dream to visit all MLB stadiums in U.S.

