extends _layout

block path
  - var relativePathToResourceRoot = "../../-"

block variable
  -
    var site_title = "Hinaser"
    var lang = "ja"

    article.id = "introduction"
    article.description = "一番最初の記事。"
    article.keywords = "hinaser,hinase,hinaser.github.io"
    article.title = "こんにちは"
    article.topic = "日常生活"
    article.subtopic = "プロフィール"
    article.create_dtime = "2017-10-30T22:46:51.376+0900"

block article
  .article-header
  hr
  .article-contents
    p.
      残りは暇なときに書く
