doctype html
html
  head
    meta(charset="utf-8")
    meta(name="viewport", content="initial-scale=1.0")
    title Hinaser
    script(src="../js/lib.js")
    link(href="./-/css/lib.css", rel="stylesheet")
    // uncache
    script(src="../js/main.js")
    // enduncache
    // uncache
    link(href="../css/main.css", rel="stylesheet")
    // enduncache
  body
    p a
    div
      .balloon.left.sticky.black
        | bteatdddddddddddddddddddddd#[br]
        | bteatdddddddddddddddddddddd#[br]
        | bteatdddddddddddddddddddddd#[br]
    br
    div
      .balloon.right.sticky
        | bteatdddddddddddddddddddddd#[br]
        | bteatdddddddddddddddddddddd#[br]
        | bteatdddddddddddddddddddddd#[br]
    br
    div
      .balloon.sticky.black
        | bteatdddddddddddddddddddddd#[br]
        | bteatdddddddddddddddddddddd#[br]
        | bteatdddddddddddddddddddddd#[br]
    hr
    .tags
      span.tag
        a(href="#") 金融業
      span.tag
        a(href="#") 出版
      span.tag
        a(href="#") 製造業
      span.tag
        a(href="#") 技能
    hr
    select#test
      option(selected)
        | 2017年09月 (20件)
      option
        | 2017年10月 (20件)
      option
        | 2017年11月 (12件)
