extends _layout

block path
  - var relativePathToResourceRoot = "../../-"

block variable
  -
    var lang = "ja"

    article.id = "systrade"
    article.description = "自動ビットコイン取引アプリ"
    article.keywords = "hinaser,hinase,hinaser.github.io"
    article.title = "SysTrade, ビットコインの機械取引"
    article.topic = "ビットコイン"
    article.subtopic = "SysTrade"
    article.create_dtime = "2018-01-29T00:00:00.000+0900"

block article
  .article-header
  hr
  .article-contents
    p.
      こんにちは、ご興味をお持ちいただきありがとうございます。#[br]
      SysTradeはbitFlyer APIを利用したビットコインFX取引アプリです。#[br]
      現在アルファ版として下記URLでアプリを公開しています。
    p
      a(href='https://hinaser.github.io/systrade-web/app') https://hinaser.github.io/systrade-web/app

    | 実装を検討している機能
    ul
      li bitFlyer LightningのAPI鍵を利用したリアルトレード
      li バーチャルトレードの成績保存機能

    p
      | その他機能の要望やご意見がありましたら、#[br]
      a(href="https://github.com/Hinaser/systrade-web/issues") https://github.com/Hinaser/systrade-web/issues
      | #[br]へご投稿ください。

    p(style="margin-top: 30px;")
      a(href=url("image/systrade/screenshot-programmable-trade.png"), target="_blank")
        img(src=url("image/systrade/screenshot-programmable-trade.png"), style="max-width: 90%;")

    p(style="margin-top: 30px;")
      | 現在、全てのトレードはバーチャルに実行されます。注文は本物のbitFlyerのマーケットサーバへ送信されません。
      | SysTradeのWebページ内部で仮想のマーケットサーバが動作しており、このサーバがユーザの買い注文や売り注文を
      | 内部で処理しています。

      a(href=url("image/systrade/How-virtual-market-works.png"), target="_blank" style="display: block; margin-top: 20px;")
        img(src=url("image/systrade/How-virtual-market-works.png"), style="max-width: 90%;")
