extends _layout

block path
  - var relativePathToResourceRoot = "../../-"

block variable
  -
    var lang = "ja"

    article.id = "the-future-government-manages-bitcoin"
    article.description = "みなさんは政府が仮想通貨を扱うことの危険性を理解しているだろうか。"
    article.keywords = "hinaser,hinase,hinaser.github.io"
    article.title = "政府に仮想通貨は扱わせてはならない"
    article.topic = "仮想通貨"
    article.subtopic = "全般"
    article.create_dtime = "2017-11-15T12:46:51.376+0900"

block article
  .article-header
  hr
  .article-contents
    p.
      政府がビットコインの運営に乗り出す
