extends _layout

block path
  - var relativePathToResourceRoot = "../../-"

block variable
  -
    var site_title = "Hinaser"
    var lang = "en"

    article.id = "the-first-page"
    article.description = "test description"
    article.keywords = "hinaser,hinase"
    article.title = "Introduction"
    article.topic = "Daily life"
    article.subtopic = "aaa"
    article.create_dtime = "2017-10-26T10:30:00+09:00"

block article
  .article-header
  hr
  .article-contents
    p.
      Blogging is interesting. It enables us sharing our thoughts globally and get reaction from various people.

    p.
      I'm a newbie in writing blog in the internet. At this time, I'd like to think how to write an intersting blog article from various aspects.

    table.bordered
      thead
        tr
          th name
          th value
      tbody
        tr
          td Preferred char counts for easy reading
          td 500

    - for(var i=0;i<30;i++)
      | test#[br]
